awscli
setuptools
botocore
boto3
pyyaml
wheel
pyinstaller
JSON-log-formatter
giturlparse
requests
git+https://github.com/OT-PYTHON-UTILS/ot-filesystem-libs.git
git+https://github.com/OT-PYTHON-UTILS/ot-scanner-libs.git@develop
git+https://github.com/OT-PYTHON-UTILS/ot-aws-libs.git@feature1.1
